/**************settings**************/
@import url('https://fonts.googleapis.com/css2?family=Play&family=Rajdhani&family=Squada+One&display=swap');

:root{
    --mainBGcolor : #03012C;
    --headFTfamily : 'Squada One', cursive;
    --headFtsize : 68px;
    --headSpacing : 0.12em;

    --headFTcolor : #EA638C;
    --mediumFTcolor : #B33C86;

    --secondheadFTfamily : 'Play', sans-serif; 

    --smallTxtFamily : 'Rajdhani', sans-serif;
}

html,body{
    margin : 0;
    width: 100%;
    background-color: var(--mainBGcolor);
    color: var(--mediumFTcolor);
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #162454;
    border-radius: 3px;
}

ul , ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color:#EA638C;
}

i{
    z-index: 10;
}

h1{
    font-family: var(--headFTfamily);
    font-style: normal;
    font-weight: lighter;
    font-size: var(--headFtsize);
    line-height: 70px;
    letter-spacing: var(--headSpacing);
    text-transform: capitalize;

    color: var(--headFTcolor);
    text-align: center;
    margin-bottom: 40px;
    z-index: 10;
}

h2{
    font-family: var(--secondheadFTfamily);
    margin: 0;
    font-size: 32px;
    text-align: center;
    line-height: 56px;
    letter-spacing: 0.03em;
    font-weight: lighter;

    color: #B33C86;
}

p{
    font-family: var(--smallTxtFamily);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.035em;
    margin-bottom: 10px;

    color: #FC0097;
    z-index: 10;
}

.rect{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30%;
    transform: rotate(-45deg);
}

.rect-1{
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, rgba(255,192,15,0.2), rgba(255,100,19,0.2)
    ,rgba(255,17,27,0.2),rgba(207,21,255,0.2));
    background-size: 600% 600%;
    animation: change 10s ease-in-out infinite;
}

.rect-2{
    position: absolute;
    width: 180px;
    height: 180px;
    background: linear-gradient(45deg, rgba(18,160,255,0.2), rgba(17,255,18,0.2),rgba(255,223,22,0.2)
    );
    background-size: 600% 600%;
    animation: change 10s ease-in-out infinite;
}

.rect-3{
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, rgba(254,250,59,0.2), rgba(255,121,94,0.2),rgba(112,255,223,0.2)
    );
    background-size: 600% 600%;
    animation: change 10s ease-in-out infinite;
}


#rect-1-1{
    left: 1100px;
    top: 500px;
}

#rect-2-1{
    left: 520px;
    top: 135px;
}

#rect-3-1{
    left: 49px;
    top: 380px;
}

#rect-1-2{
    left: 770px;
    top: 800px;
}

#rect-2-2{
    left: 350px;
    top: 990px;
}

#rect-3-2{
    left: 860px;
    top: 960px;
}


#rect-1-3{
    left: 770px;
    top: 1470px;
}

#rect-2-3{
    left: 350px;
    top: 1690px;
}

#rect-3-3{
    left: 960px;
    top: 1760px;
}

#rect-1-4{
    left: 1100px;
    top: 2300px;
}

#rect-2-4{
    left: 410px;
    top: 2135px;
}

#rect-3-4{
    left: 89px;
    top: 2480px;
}

/**#rect-1-5{
    left: 770px;
    top: 2780px;
}

#rect-2-5{
    left: 250px;
    top: 2890px;
}

#rect-3-5{
    left: 960px;
    top: 2960px;
}**/

.rect:hover{
    display: none;
}

.project-page ,.process-page ,.skill-page ,.contact-page{
    height: 82vh;
    width: 100%;
    margin-bottom: 180px;
}

@keyframes change{
    0%{
        background-position: 0 50%;
        transform: rotate(-45deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        background-position: 100% 50%;
        transform: rotate(135deg);
    }
    75%{
        transform: rotate(45deg);
    }
    100%{
        background-position: 0 50%;
        transform: rotate(-45deg);
    }
}
/**************end of sttings**************/

/**************nav bar**************/
nav{
    background-color: var(--mainBGcolor);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}

.logo{
    height: 60px;
    width: 60px;
    margin-right: 140px;
}

.nav-list li a{
    padding: 10px 30px;
    font-family: var(--secondheadFTfamily);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    cursor: pointer;
    color: var(--mediumFTcolor);
    border-radius: 5px;
}

.nav-list li a:hover{
    color: var(--mainBGcolor);
    background-color: var(--mediumFTcolor);
}

/**************end of nav bar**************/

/**************landing page**************/
.landing-page{
    top: 18vh;
    left: 0;
    height: 82vh;
    position: relative;
    display: flex;
    padding: 5px 50px;
    margin-bottom: 150px;
}

.landing-page > *{
    width: 50%;
}

.pro{
    display: flex;
    align-items: center;
    justify-content: center
}

.txt{
    margin-right: 80px;
}

.profile{
    background-size: cover;
    border-radius: 50%;
    background-image: url(../img/profile.jpg);
    border: 10px solid #190E4F;
    box-sizing: border-box;
    box-shadow: 6px 12px 12px rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 0;
}

.landing-page h1{
    margin: 60px 0px;
    text-align: start;
}

.btn{
    background: #190E4F;
    border-radius: 10px;
    width: 260px;
    height: 50px;

    font-family: var(--secondheadFTfamily);
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
}

.btn:hover{
    background: var(--headFTcolor);
}

.btn:hover a{
    color: var(--mainBGcolor);
}
/**************end of landing page**************/

/**************project page**************/

.projects-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 140px;
}

.project-card{
    background: #372A78;
    border-radius: 20px;
    min-width: 230px;
    width: 18%;
    height: 300px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    margin: 20px 20px;
    z-index: 10;
}

.project-card img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid var(--mainBGcolor);
    margin-top: 15px;
}

.project-card > div{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-img{
    height: 100%;
    justify-content: center;
}

.source-code{
    font-family: var(--smallTxtFamily);
    background: #6C2323;
    border-radius: 10px;
    color: #A9A9A9;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 12px;
    width: 60px;
    margin-bottom: 20px;
}

.card-btn{
    display: flex;
    background: #002A22;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.card-btn a{
    color: #B6B0B0;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    font-family: var(--smallTxtFamily);
}

.card-btn:hover{
    background-color: var(--mediumFTcolor);
}

.card-btn:hover a{
    color: var(--mainBGcolor);
}
/**************end of project page**************/

/**************process page**************/
.process-page ul{
    justify-content: space-around;
    padding: 20px 160px;
}

.process-page ul li{
    font-size: 96px;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: 340px;
    padding: 10px;
}

.process-page p{
    font-size: 16px;
    line-height: 24px;
    color: #B6B0B0;
}
/***************end of process page**************/

/**************skill page**************/
.skill-page ul{
    flex-direction: column;
}

.skill-page h2{
    width: 45%;
}

.skill-set{
    align-items: center;
    margin-bottom: 10px;
}

.progress-bar{
    width: 500px;
    height: 32px;
    background: #C4C4C4;
    border-radius: 15px;
    z-index: 10;
}

.progress-show{
    width: 200px;
    height: 24px;
    background: #002A22;
    border-radius: 10px;
    margin: 4px;
}
/**************end of skill page**************/

.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-bottom: 0;
    padding-bottom: 100px;
}

.contact-page h1{
    margin-top: 60px;
}

.contact-page ul{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.contact-page ul li{
    margin: 10px;
    margin-top: 60px;
    background: #372A78;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page i{
    font-size: 24px;
    color: #C4C4C4;
}






